@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-comments/styles.css";

* {
  font-family:
    work sans,
    sans-serif;
}

@layer utilities {
  .no-ring {
    @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .input-ring {
    @apply h-8 rounded-none border-none bg-transparent outline-none ring-offset-0 focus:ring-1 focus:ring-primary-green focus:ring-offset-0 focus-visible:ring-offset-0 !important;
  }

  .right-menu-content {
    @apply flex w-80 flex-col gap-y-1 border-none bg-primary-black py-4 text-white !important;
  }

  .right-menu-item {
    @apply flex justify-between px-3 py-2 hover:bg-primary-grey-200 !important;
  }
}

/* ......... */

/* ### main Menu Overlay */
.mainMenuOverlay {
    background-color: rgba(0, 0, 0, 0.84);
    position: fixed;
    left: 0;
    right: 0;
    bottom: -420px;
    z-index: 999;
    height: 420px;
    box-shadow: 0 0 15px -3px #03374A;
    border-radius: 100% 100% 0 0 / 14% 14% 0 0;
    -webkit-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
}

.mainMenuOverlay.open {
    bottom: 0;
}

.mainMenuOverlay .toggleMenu {
    background-color: #65B5D0;
    border: 1px solid #FFF;
    border-radius: 80px;
    width: 62px;
    height: 62px;
    position: absolute;
    top: -12px;
    left: 50%;
    margin: -31px 0 0 -31px;
    cursor: pointer;
    font-size: 24px;
    color: #FFF;
    text-align: center;
    line-height: 62px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 0 16px -4px #063343;
    -webkit-transition: box-shadow 0.5s ease, top 0.5s ease;
    transition: box-shadow 0.5s ease, top 0.5s ease;
}

.mainMenuOverlay .toggleMenu:hover,
.mainMenuOverlay .toggleMenu:active {}

.mainMenuOverlay.open .toggleMenu {
    top: 50%;
    background-color: #2298C3;
}

.mainMenuOverlay .itemMenuBox {
    background: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/go2.png) no-repeat center center;
    background-size: 28px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -31px 0 0 -31px;
    height: 62px;
    width: 142px;
    text-align: right;
    border-radius: 40px;
    -webkit-transform-origin: 31px 31px;
    -ms-transform-origin: 31px 31px;
    transform-origin: 31px 31px;
    -webkit-transition: all 1s ease 0.4s;
    transition: all 1s ease 0.4s;
}

.mainMenuOverlay.open .itemMenuBox {
    width: 182px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}


.mainMenuOverlay .itemMenuBox .itemMenu {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    background-color: #1f97c2;
    background-repeat: no-repeat;
    background-position: center center;
    width: 62px;
    height: 62px;
    border-radius: 40px;
    transition: all 0.8s ease;
    color: #FFF;
    font-size: 28px;
    line-height: 64px;
    text-align: center;
}


/* Hover
.mainMenuOverlay .itemMenuBox.bills .itemMenu:hover {
    -webkit-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    transform: rotate(450deg);
}

.mainMenuOverlay .itemMenuBox.tarsheed .itemMenu:hover {
    -webkit-transform: rotate(390deg);
    -ms-transform: rotate(390deg);
    transform: rotate(390deg);
}

.mainMenuOverlay .itemMenuBox.employees .itemMenu:hover {
    -webkit-transform: rotate(690deg);
    -ms-transform: rotate(690deg);
    transform: rotate(690deg);
}

.mainMenuOverlay .itemMenuBox.location .itemMenu:hover {
    -webkit-transform: rotate(630deg);
    -ms-transform: rotate(630deg);
    transform: rotate(630deg);
}

.mainMenuOverlay .itemMenuBox.eservices .itemMenu:hover {
    -webkit-transform: rotate(570deg);
    -ms-transform: rotate(570deg);
    transform: rotate(570deg);
}

.mainMenuOverlay .itemMenuBox.contact .itemMenu:hover {
    -webkit-transform: rotate(510deg);
    -ms-transform: rotate(510deg);
    transform: rotate(510deg);
} */



.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
    from {
        -webkit-transform: translate(0, 0px);
    }

    65% {
        -webkit-transform: translate(0, 5px);
    }

    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating {
    from {
        -moz-transform: translate(0, 0px);
    }

    65% {
        -moz-transform: translate(0, 5px);
    }

    to {
        -moz-transform: translate(0, -0px);
    }
}

.floating2 {
    -webkit-animation-name: Floatingx2;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating2;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx2 {
    from {
        -webkit-transform: translate(0, 0px);
    }

    45% {
        -webkit-transform: translate(0, 8px);
    }

    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating2 {
    from {
        -moz-transform: translate(0, 0px);
    }

    45% {
        -moz-transform: translate(0, 8px);
    }

    to {
        -moz-transform: translate(0, -0px);
    }
}

.floating3 {
    -webkit-animation-name: Floatingx3;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating3;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx3 {
    from {
        -webkit-transform: translate(0, 0px);
    }

    50% {
        -webkit-transform: translate(2px, 4px);
    }

    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating3 {
    from {
        -moz-transform: translate(0, 0px);
    }

    50% {
        -moz-transform: translate(2px, 4px);
    }

    to {
        -moz-transform: translate(0, -0px);
    }
}
.typing {
    font-family: 'Inconsolata', Consolas, monospace;
    font-size: 6vw;
    color: #7752FE;
    position: relative;
}
.typing::after {
        content: "|";
        position: absolute;
        right: 0;
        width: 100%;
        color: white;
        background: black;
        animation: typing 4s steps(18) forwards,
            caret 1s infinite;
    }
@keyframes typing {
    to {
        width: 0
    }
}

@keyframes caret {
    50% {
        color: transparent
    }
}